body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: #000;
    width: 350px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}
.main_cont{
    flex: 1;
    background-color: #121212;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 01.5rem;
}
.player{
    position: fixed;
    bottom: 0px;
    height: 72px;
    width: 100%;
    background-color: #000;
}
a{
    text-decoration: none;
    color: #fff;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav_option{
    line-height: 2.5rem;
    opacity: 0.5;
    padding: 0.5rem 0.75rem;
}
.nav_option i{
    font-size: 1.25rem;
}
.nav_option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.nav_option:hover{
    opacity: 1;
}
.nav_option:hover a{
    
    text-decoration: underline;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib_option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icon{
    font-size: 1.25rem; 
    display: flex;
}
.icon i{
    opacity: 0.5;
    margin-right: 1rem;
}
.icon i:hover{     
    opacity: 1;
}
.box{
    background-color: #232323;
    height: 9rem;
    border-radius: 0.7rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 1rem 1.25rem;
    transition: all ease 0.10s;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.75rem;
    opacity: 0.9;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
    opacity: 0.75;
    transition: all ease 0.5s;
}
.badge:hover{
    opacity: 1;
    scale: 1.07;
}
.darkbadge{
    background-color: #000;
    color: #fff;
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 10;
}
.sticky-nav-icon img{
    margin-left: 0.75rem;
}
.sticky-nav-option{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    margin-right: 1rem;

}
@media (max-width: 1000px){
    .hide{
        display: none;
    }
}
.card{
    width: 150px;
    background-color: #23232344;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1.5rem;
    transition: all ease 0.4s;
    position: relative;
}
.pb{  
    position: absolute;  
    left: 117px;
    height: 3rem;
    z-index: -1;
    transition: all  ease-in;
}
.card:hover .pb{
    position: absolute;
    z-index: 8;
    top: 115px;
    left:117px;
    
}
.card:hover{
    background-color: #232323;    
}
.card-cont{
    display: flex;
    flex-wrap: wrap;
    
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.8;
}
.footer{
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.line{
    width: 90%;
    border-top: 2px solid white;
     height: 130px;
     opacity: 0.3;

}
.space{
    height: 150px;
}
.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;    
}
.playertool{
    width: 50%;    
}
.controls{
    width: 25%;    
}
.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;

}
#player-button:hover{
    scale: 1.07;
}
.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -7px ;
}
.album{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-wrap: wrap;
    margin: 0.2rem;
}
.album-img{
    height: 3rem;
    border-radius: 4px;
    margin-right: 0.75rem;
}
.album-title{
    font-weight: 600;
    height: 50%;
    justify-self: center;
    font-size: 12px;
    align-self:flex-end;
    margin-bottom: 1px;
}
.album-info{
    height: 50%;
    font-size: 10px;
    opacity: 0.75;
}
#add-playlist{
    display: none;
}
.checkl{
    margin-left: 2rem;
    opacity: 0.75;
}
.album-title:hover{
    text-decoration: underline 1px solid #fff;
}
.album-info:hover{
    opacity: 1;
    text-decoration: underline 1px solid #fff;
}
.album-icon{
    display: flex;
    opacity: 0.75;
    margin: 1rem;
}
.removebtn{
    position: absolute;
    left: -300rem;
    appearance: none;
    background-color: transparent;
}
.album-icon:hover{
    opacity: 1;
}
#add-playlist:checked~.removebtn{
    opacity: 1;
    left: 12.6rem;   
}
.controls-option{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls-img{
    height: 1.75rem;
    margin: 0.15rem;
    opacity: 0.75;
}
.controls-icon{
    margin: 0.25rem;
    opacity: 0.75;
    
}
.controls-img:hover{
    opacity: 1;
    scale: 1.10;
}
.controls-icon:hover{
    scale: 1.15;
    opacity: 1;
}
.controls-sound{
    margin: 0.25rem;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.controls-sound::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.controls-sound::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -7px ;
}


